<a href="https://colab.research.google.com/github/armancodes1/a-data-science-journey/blob/main/0-Python/0_4_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists

A **list** in Python is:
- Ordered
- Mutable (can be changed)
- Allows duplicates
- Can hold mixed data types

In [ ]:
# Example: Creating a list
my_list = [1, 2, 3, "hello", 3.14, True]
my_list

[1, 2, 3, 'hello', 3.14, True]

## 1. Creating Lists

In [ ]:
empty_list = []
numbers = [1, 2, 3, 4, 5]
mixed = [10, "Python", 3.14, False]
nested = [[1, 2], [3, 4], [5, 6]]

print("Empty:", empty_list)
print("Numbers:", numbers)
print("Mixed:", mixed)
print("Nested:", nested)

Empty: []
Numbers: [1, 2, 3, 4, 5]
Mixed: [10, 'Python', 3.14, False]
Nested: [[1, 2], [3, 4], [5, 6]]

## 2. Accessing Elements
- Indexing starts at `0`
- Negative indexing starts from end (-1 to -len)
- Slicing for sublists

In [ ]:
my_list = ["a", "b", "c", "d"]

print(my_list[0])    # First element
print(my_list[-1])   # Last element
print(my_list[1:3])  # Slice from index 1 to 2
print(my_list[::2])  # Every second element

a
d
['b', 'c']
['a', 'c']

## 3. Modifying Lists

In [ ]:
nums = [10, 20, 30, 40]
nums[1] = 25          # Replace
nums.append(50)       # Add at end
nums.insert(1, 15)    # Insert at index
nums.extend([60, 70]) # Add multiple

nums

[10, 15, 25, 30, 40, 50, 60, 70]

## 4. Removing Elements

In [ ]:
nums = [10, 20, 30, 40, 50]
nums.remove(30)     # Remove by value
nums.pop()          # Remove last
nums.pop(1)         # Remove index 1
del nums[0]         # Delete index 0
nums.clear()        # Clear all
nums

[]

## 5. Searching & Checking

In [ ]:
nums = [10, 20, 30, 40, 50]

print(30 in nums)         # Membership
print(nums.index(40))     # Index of 40
print(nums.count(20))     # Count occurrences

True
3
1

## 6. Useful List Methods

In [ ]:
nums = [3, 1, 4, 1, 5, 9]

print("Sorted:", sorted(nums))  # Returns a new sorted list
nums.sort()
print("In-place sorted:", nums)

nums.reverse()
print("Reversed:", nums)

print("Length:", len(nums))
print("Min:", min(nums))
print("Max:", max(nums))
print("Sum:", sum(nums))

Sorted: [1, 1, 3, 4, 5, 9]
In-place sorted: [1, 1, 3, 4, 5, 9]
Reversed: [9, 5, 4, 3, 1, 1]
Length: 6
Min: 1
Max: 9
Sum: 23

## 7. Iterating Lists

In [ ]:
fruits = ["apple", "banana", "cherry"]

for f in fruits:
    print(f)

for i, val in enumerate(fruits):
    print(i, val)

apple
banana
cherry
0 apple
1 banana
2 cherry

## 8. List Comprehensions

In [ ]:
squares = [x**2 for x in range(5)]
evens = [x for x in range(10) if x % 2 == 0]
matrix = [[i*j for j in range(3)] for i in range(3)]

print("Squares:", squares)
print("Evens:", evens)
print("Matrix:", matrix)

Squares: [0, 1, 4, 9, 16]
Evens: [0, 2, 4, 6, 8]
Matrix: [[0, 0, 0], [0, 1, 2], [0, 2, 4]]

## 9. Copying Lists(Shallow vs Deep)

In [ ]:
import copy

# Simple list (no nesting)
a = [1, 2, 3]
b = a.copy()    # Shallow copy
c = list(a)     # Another shallow copy
d = a[:]        # Slice copy

a[0] = 99       # Modify original

print("Original:", a)   # [99, 2, 3]
print("Copies:", b, c, d)  # [1, 2, 3] for all

Original: [99, 2, 3]
Copies: [1, 2, 3] [1, 2, 3] [1, 2, 3]

In [ ]:
a = [[1, 2], [3, 4]]
b = a.copy()   # Shallow copy

a[0][0] = 99   # Change inside the nested list

print("Original:", a)  # [[99, 2], [3, 4]]
print("Shallow Copy:", b)  # [[99, 2], [3, 4]]  <-- also changed!


a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)   # Deep copy

a[0][0] = 99   # Change inside the nested list

print("Original:", a)   # [[99, 2], [3, 4]]
print("Deep Copy:", b)  # [[1, 2], [3, 4]]  <-- unaffected

Original: [[99, 2], [3, 4]]
Shallow Copy: [[99, 2], [3, 4]]
Original: [[99, 2], [3, 4]]
Deep Copy: [[1, 2], [3, 4]]

## 10. Nested Lists (2D)

In [ ]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
print(matrix[0][1])  # Access row 0 col 1

2

## 11. Advanced Tricks

In [ ]:
# Unpacking
a, b, *rest = [10, 20, 30, 40]
print(a, b, rest)

# Zipping
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95]
print(list(zip(names, scores)))

# Flatten
nested = [[1,2],[3,4],[5,6]]
flat = [x for sub in nested for x in sub]
print(flat)

10 20 [30, 40]
[('Alice', 85), ('Bob', 90), ('Charlie', 95)]
[1, 2, 3, 4, 5, 6]

# Summary-

- **Create**: `[ ]`, `list()`
- **Access**: `list[i]`, slicing
- **Modify**: `append()`, `insert()`, `extend()`
- **Remove**: `pop()`, `remove()`, `del`, `clear()`
- **Search**: `in`, `index()`, `count()`
- **Utility**: `sort()`, `reverse()`, `len()`, `min()`, `max()`, `sum()`
- **Iteration**: `for`, `enumerate()`
- **Comprehension**: `[expr for item in iterable if condition]`
- **Copy**: `copy()`, slicing
- **Advanced**: unpacking, `zip()`, flattening

# **Fin.**