<a href="https://colab.research.google.com/github/armancodes1/a-data-science-journey/blob/main/0-Python/0_4_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuples â€“ Comprehensive Guide

A **tuple** in Python is:
- Ordered
- Immutable (cannot be changed)
- Allows duplicates
- Can hold mixed data types
- Defined using parentheses `( )`

In [1]:
# Example: Creating a tuple
my_tuple = (1, 2, 3, "hello", 3.14, True)
my_tuple

(1, 2, 3, 'hello', 3.14, True)

## 1. Creating Tuples

In [2]:
empty_tuple = ()
singleton = (5,)  # Note the comma, otherwise it's just an int
numbers = (1, 2, 3, 4, 5)
mixed = (10, "Python", 3.14, False)
nested = ((1, 2), (3, 4), (5, 6))

print("Empty:", empty_tuple)
print("Singleton:", singleton)
print("Numbers:", numbers)
print("Mixed:", mixed)
print("Nested:", nested)

Empty: ()
Singleton: (5,)
Numbers: (1, 2, 3, 4, 5)
Mixed: (10, 'Python', 3.14, False)
Nested: ((1, 2), (3, 4), (5, 6))

## 2. Accessing Elements
- Indexing starts at `0`
- Negative indexing starts from end
- Slicing for sub-tuples

In [3]:
my_tuple = ("a", "b", "c", "d")

print(my_tuple[0])    # First element
print(my_tuple[-1])   # Last element
print(my_tuple[1:3])  # Slice
print(my_tuple[::2])  # Every second element

a
d
('b', 'c')
('a', 'c')

## 3. Immutability

- Tuples themselves are **immutable**: you cannot reassign or change their elements.  
- However, if a tuple contains a **mutable object** (e.g., a list), the tuple cannot be reassigned to hold a new object, but the **mutable object itself can still be modified**.

This is a subtle but important distinction!

In [15]:
# Tuple with an immutable and a mutable element
t = (1, [2, 3])

#  This will raise an error (cannot reassign tuple elements)
try:
   t[1] = [4, 5]
except TypeError as e:
   print(e)
print(t)

# But you can modify the list inside the tuple
t[1].append(4)
print("Modified tuple:", t)   # (1, [2, 3, 4])

'tuple' object does not support item assignment
(1, [2, 3])
Modified tuple: (1, [2, 3, 4])

## 4. Tuple Operations

In [5]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print("Concatenation:", t1 + t2)
print("Repetition:", t1 * 2)
print("Membership:", 2 in t1)
print("Length:", len(t1))

Concatenation: (1, 2, 3, 4, 5, 6)
Repetition: (1, 2, 3, 1, 2, 3)
Membership: True
Length: 3

## 5. Useful Tuple Methods
- Tuples have limited methods: only `count()` and `index()`.

In [6]:
t = (1, 2, 3, 2, 4, 2)
print("Count of 2:", t.count(2))
print("Index of 3:", t.index(3))

Count of 2: 3
Index of 3: 2

## 6. Iterating Tuples

In [7]:
fruits = ("apple", "banana", "cherry")

for f in fruits:
    print(f)

for i, val in enumerate(fruits):
    print(i, val)

apple
banana
cherry
0 apple
1 banana
2 cherry

## 7. Tuple Packing and Unpacking

In [8]:
packed = 10, 20, 30   # Packing
x, y, z = packed  # Unpacking
print("Packed:", packed)
print("Unpacked:", x, y, z)

# Extended unpacking
a, *rest = (1, 2, 3, 4, 5)
print(a, rest)

Packed: (10, 20, 30)
Unpacked: 10 20 30
1 [2, 3, 4, 5]

## 8. Nested Tuples (2D)

In [9]:
matrix = ((1,2,3), (4,5,6), (7,8,9))
print(matrix[0][1])  # Access row 0 col 1

2

## 9. Tuples vs Lists
- Tuples: immutable, faster, used as keys in dicts
- Lists: mutable, flexible

In [10]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

print("List size:", my_list.__sizeof__())
print("Tuple size:", my_tuple.__sizeof__())

List size: 72
Tuple size: 48

## 10. Advanced: Tuples as Dictionary Keys

In [11]:
coords = {}
point = (10, 20)
coords[point] = "A location"
print(coords)

{(10, 20): 'A location'}

#  Summary

- **Create**: `( )`
- **Access**: `tuple[i]`, slicing
- **Immutable**: cannot change values
- **Operations**: `+`, `*`, `in`, `len()`
- **Methods**: `count()`, `index()`
- **Iteration**: `for`, `enumerate()`
- **Packing/Unpacking**: `a, b = (1, 2)`
- **Use Cases**: fixed data, dict keys, memory-efficient

# **Fin.**